<div id="body">

  <section class="container">
    <header>{{content.project}}</header>
    <form class="form" #addF="ngForm" (ngSubmit)="addproject(addF)" ngNativeValidate>

      <div class="input-box">
        <label>name</label>
        <input type="text" placeholder="Name of project ..." required [(ngModel)]="project.title" name="title"/>
      </div>

      <div class="input-box">
        <label>Date</label>
        <input type="date" id="date" required [(ngModel)]="project.date"  name="date"/>
      </div>

      <div class="input-box">
        <label>type</label>
        <input type="text" placeholder="Type of project ..." required [(ngModel)]="project.type" name="type"/>
      </div>
      <label> Partners  </label>
      <input type="text" placeholder="Partners" *ngFor="let t of project.partners; let i = index" [(ngModel)]="t.name" name="partner_{{i}}" (input)="searchPartner(i)" (click)="showDropdown = true" >
      <div class="dropdown" id="themeDropdown"  *ngIf="showDropdown">
        <ul>
          <li *ngFor="let partner of filteredList" (click)="selectPartner(partner)" style="list-style: none">
            <span>{{partner.name}}</span>
          </li>
        </ul>
      </div>
      <div class="controls">
        <a id="add_more_fields" (click)="addPartner()"><i class="fa fa-plus" ></i>Add More</a>
        <a id="remove_fields" (click)="removePartner()"><i class="fa fa-minus"></i>Remove Field</a>
      </div>

      <div class="input-box">
        <label>Image</label>
        <input type="file" accept="image/*" #fileUpload (change)="onFileSelected(fileUpload.files)" >
      </div>

      <div class="input-box">
        <label>Description</label>
        <textarea name="description" rows="10" cols="70" required [(ngModel)]="project.description" ></textarea>
      </div>
      <button>{{content.submit}}</button>
    </form>
  </section>
</div>
